# ini
.config.ini

# test folder
test&transform/
crawler_fail/
unsure_to_use/

# json file
json_file/

# chromedrive
chromedriver

# environment
.DS_Store
.vscode

# flight folder
flight/config/
flight/logs/
flight/plugins/
flight/.env
flight/dags/__pycache__
flight/dags/.env
logs/
.env

#insurance folder
insurance/.env

# server folder
server/__pycache__/
server/logs/

# streamlit folder
.streamlit/

# script
.scp.sh

