# ini
.config.ini

# test folder
test&transform/
crawler_fail/
unsure_to_use/

# json file
json_file/

# chromedrive
chromedriver

# environment
.DS_Store
.vscode

# flight folder
flight/config/
flight/logs/
flight/plugins/
flight/.env
flight/dags/__pycache__
flight/dags/.env
logs/
.env

#insurance folder
insurance/.env

# server folder
server/__pycache__/
server/logs/


# streamlit folder
.streamlit/

# script
.scp.sh
.scp_ubuntu.sh
.scp_linux_after_restructure.sh

# email_notify folder

email_notify/config/
email_notify/logs/
email_notify/plugins/
email_notify/.env
email_notify/dags/__pycache__
email_notify/dags/.env

# map folder
map/create_latitude.py
map/dags/__pycache__/


try_transform/
logs/
.env
.idea/