{% extends "layout.html" %}{% block content %}

<style>
  .card-spacing {
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .card {
    min-height: 500px; 
  }
  .card-img-top {
  width: 100%; 
  height: auto; 
}
.row {
    display: flex;
    align-items: flex-start;
    margin-right: 0; 
    margin-left: 0; 
    justify-content: center; 
}
.container {
  width: 100%; 
  max-width: none; 
  color: #555
}

.card-body {
  position: relative; 
  padding-bottom: 20px; 
}

.card-link {
  position: absolute;
  bottom: 10px; 
  right: 10px; 
  color: #555;
  text-decoration: none; 
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.card-link:hover, .card-link:focus {
  color: #5a6269; 
  text-decoration: none; 
}

.card-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #515457;
  transition: width 0.3s;
}

.card-link:hover::after, .card-link:focus::after {
  width: 100%; 
}

.card-link2 {
  color: #555;
  text-decoration: none; 
  transition: color 0.3s ease, text-shadow 0.3s ease;
  display: block; 
  margin-bottom: 5px; 
}

.card-link2:hover, .card-link2:focus {
  color: #5a6269; 
  text-decoration: none; 
}

.card-link2::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #515457;
  transition: width 0.3s;
}

.card-link2:hover::after, .card-link2:focus::after {
  width: 100%; 
}

.link-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.card-subtitle{
  font-size: 13px;
  font-style: italic;
}

</style>

<div class="container">
  <div class="row d-flex justify-content-center align-items-start">

  <!-- 航空公司準時排名 -->
  <div class="col-md-6 col-lg-3 card-spacing">
    <div class="card" style="width: 18rem">
      <img class="card-img-top" src="../static/images/sunset_airplane.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">航空公司準時排名</h5>
        <p class="card-subtitle mb-2 text-muted">了解各家航空起飛準時性, 機票購買有個底</p>
        <p class="card-text">
          {% for airline in airline_list %}
          <h6>{{ loop.index }}. {{ airline }}</h6>
          {% endfor %}
        </p>
        <a href="{{ streamlit_url }}" class="card-link">查看所有航空表現</a>
      </div>
    </div>
  </div>

    <!-- 台灣前五大最熱門航點 -->
    <div class="col-md-6 col-lg-3 card-spacing">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="../static/images/travel.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">台灣前五大最熱門航點</h5>
          <p class="card-subtitle mb-2 text-muted">了解時下熱門景點, 揪伴結團出國去</p>
          <p class="card-text">
            {% for destination in depart_list %}
            <h6>{{ loop.index }}. {{ destination }}</h6>
            {% endfor %}
          </p>
          <a href="{{ url_for('flight_map') }}" class="card-link">查看所有航點</a>
        </div>
      </div>
    </div>

    

    <!-- 追蹤你的航班 -->
    <div class="col-md-6 col-lg-3 card-spacing">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="../static/images/cabin_dark.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">想要追蹤你的航班嗎？</h5>
          <p class="card-subtitle mb-2 text-muted">快來打開通知設定, 設定好航班後, Email 馬上通知航班變化！</p>
          <div class="link-container">
          <a href="{{ url_for('search_flight') }}" class="card-link2">搜尋航班</a>
          <a href="{{ url_for('user_flight') }}" class="card-link2">前往航班設定</a>
          <a href="{{ url_for('user_notify') }}" class="card-link2">開啟通知設定</a>
        </div>
        </div>
      </div>
    </div>

    <!-- 知道保險理賠內容 -->
    <div class="col-md-6 col-lg-3 card-spacing">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="../static/images/insurance.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">想要知道保險理賠內容嗎？</h5>
          <p class="card-subtitle mb-2 text-muted">飛機 Delay了嗎？ 馬上知道保多少！</p>
          <a href="{{ url_for('user_insurance') }}" class="card-link">前往設定</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
