<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content="{{ csrf_token() }}" />
    <title>Flying High - flight tracking system</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../static/css/style_layout.css" />
    {% block css_signup %}{% endblock %} {% block css_login %}{% endblock %} {%
    block css_search_flight %}{% endblock %} {% block homepage %} {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-body-tertiary">
      <div class="container-fluid">
        <div class="row w-100">
          <div class="col-2 d-flex justify-content-center align-items-center">
            <a class="navbar-brand" href="{{ url_for('index') }}"
              >Flying High</a
            >
          </div>
          <div class="col-9">
            <ul class="navbar-nav d-flex justify-content-start">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('search_flight') }}"
                  >Search Flight</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('insurance') }}"
                  >Insurance</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('flight_map') }}"
                  >Flight Map</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ streamlit_url }}"
                  >Airline On-Time Performance</a
                >
              </li>
              {% if logged_in %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user_info') }}"
                  >My Profile</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('my_insurance') }}"
                  >My Insurance</a
                >
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('sign_up') }}"
                  >Sign up / in</a
                >
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
      <div
        class="alert alert-secondary alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %} {% block content %}{% endblock %}

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    {% block scripts %}
    <script>
      function selectAirline(airlineCode) {
        document.getElementById("selectedAirline").value = airlineCode;
        document.getElementById("dropdownMenuButton").textContent = airlineCode;
      }
    </script>
    {% endblock %} {% block user_insurance_script %}{% endblock %}
  </body>
</html>
