{% extends "layout.html" %} {% block content %}
<style>
  .background-image {
    /* 使用 Jinja2 模板語法 */
    background-image: url("{{ url_for('static', filename='images/cabin_dark.jpg') }}");
    opacity: 0.8;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; /* 圖像適應 container */
    position: fixed; /* 不滾動 */
    top: 0;
    left: 0;
    z-index: -1; /* 確保圖像在內容之下 */
  }
  .outer {
    position: relative;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    /* align-items: center;  */
  }
  .insurance-info {
    position: absolute; /* Allows absolute positioning inside */
    top: 80px;
    background: rgba(
      255,
      255,
      255,
      0.879
    ); /* Semi-transparent white background */

    padding: 2rem;
    border-radius: 1rem; /* Rounded corners */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); /* Soft shadow */
    width: 75%;
    min-height: 400px;
    transform: translateY(10px);
  }
  .container {
    position: relative; /* Allows absolute positioning inside */
  }
  .insurance-title {
    position: relative;
    top: -220px;
    left: 0px;
    color: white;
  }
  .my-insurance {
    position: relative;
    top: -210px;
    left: 50px;
    color: white;
  }
</style>

<div class="container">
  <div class="background-image"></div>
  <div class="outer">
    <h3 class="text-white insurance-title">查看保單</h3>
    <div class="insurance-info">
      <div class="container">
        <form id="insuranceForm">
          <!-- 投保公司 -->
          <input
            type="hidden"
            name="insuranceCompany"
            value="{{ user_insurance.insurance_company }}"
          />
          <!-- 方案 -->
          <input type="hidden" name="plan" value="{{ user_insurance.plan }}" />
          <!-- 投保额度 -->
          <input
            type="hidden"
            name="insuredAmount"
            value="{{ user_insurance.insured_amount }}"
          />
          <!-- 投保天数 -->
          <input type="hidden" name="days" value="{{ user_insurance.days }}" />

          <h4>投保資訊：</h4>
          <p>投保公司: {{ user_insurance.insurance_company }}</p>
          <p>方案: {{ user_insurance.plan }}</p>
          <p>投保额度: {{ user_insurance.insured_amount }}</p>
          <p>投保天数: {{ user_insurance.days }}</p>

          <div class="dropdown mb-3 col-md-4">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="convenienceDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              不便險
            </button>
            <ul class="dropdown-menu" aria-labelledby="convenienceDropdown">
              <!-- Option items here -->
              <li>
                <button
                  type="button"
                  class="dropdown-item"
                  data-option="trip_cancel"
                >
                  旅程取消
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="dropdown-item"
                  data-option="flight_delay"
                >
                  班機延誤
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="dropdown-item"
                  data-option="trip_change"
                >
                  旅程更改
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="dropdown-item"
                  data-option="baggage_delay"
                >
                  行李延誤
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="dropdown-item"
                  data-option="baggage_damage"
                >
                  行李損失
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="dropdown-item"
                  data-option="file_damage"
                >
                  旅行文件損失
                </button>
              </li>
            </ul>
            <input type="hidden" id="selectedOption" name="convenienceOption" />
          </div>
          <!-- 提交按鈕 -->
          <button type="submit" class="btn btn-primary" id="submitBtn">
            提交
          </button>
        </form>
      </div>
      <h3>旅平險</h3>
      <div>{{insurance_content}}</div>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll(".dropdown-item").forEach((item) => {
    item.addEventListener("click", function () {
      const optionText = this.textContent;
      const optionValue = this.getAttribute("data-option");
      document.getElementById("convenienceDropdown").textContent = optionText;
      document.getElementById("selectedOption").value = optionValue;
    });
  });

  document
    .getElementById("submitBtn")
    .addEventListener("click", function (event) {
      event.preventDefault();
      const formData = new FormData(document.getElementById("insuranceForm"));

      fetch("/fetch_insurance_content", {
        method: "POST",
        body: formData,
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          if (data.status === "success") {
            alert(`方案內容：${data.data.insurance_content}`);
          } else {
            alert("沒有找到數據");
          }
        })
        .catch((error) => {
          console.error("Error:", error);
          alert("請求失敗");
        });
    });
</script>
{% endblock %} {% block scripts %}
<!----------------- 保單試算  button end----------------- -->

{% endblock %}
