{% extends "layout.html" %} {% block css_search_flight %}

<link rel="stylesheet" href="../static/css/style_search_flight.css" />
{% endblock %} {% block content %}

<!-- <div class="background-image"></div> -->

<img
  src="{{ url_for('static', filename='images/airplane.jpg') }}"
  alt="Signup"
  class="img-airplane"
/>

<!--  選項 －－－－－ -->
<div class="my-3">
  <form action="/arrive_flight_time" method="post">
    <div class="container-lg .bg-primary-subtle text-white">
      Flight <span id="emphasize">Arrive </span>at Taoyuan Airport Today

      <div class="input-group mb-3">
        <label class="input-group-text" for="airline">Airline</label>
        <select class="form-select" id="airline" name="airline">
          <option selected>Choose...</option>
          <option value="JL">Japan Airline (JL)</option>
          <option value="UA">United Airline (UA)</option>
          <option value="CI">China Airline (CI)</option>
          <option value="NX">Air Macau (NX)</option>
          <!-- 更多選項 -->
        </select>
      </div>

      <div class="form-group mb-3">
        <input
          type="text"
          name="flight_number"
          class="form-control"
          placeholder="Flight Number"
          aria-label="Flight Number"
          aria-describedby="basic-addon1"
        />
      </div>

      <button
        type="submit"
        class="btn btn-secondary"
        name="search"
        value="arrive"
      >
        Search
      </button>
    </div>
  </form>
</div>
<div class="space"></div>
<div class="my-3">
  <form action="/depart_flight_time" method="post">
    <div class="container-lg .bg-primary-subtle text-white">
      Flight
      <span id="emphasize">Depart</span>
      from Taoyuan Airport Today

      <div class="input-group mb-3">
        <label class="input-group-text" for="airline">Airline</label>
        <select class="form-select" id="airline" name="airline">
          <option selected>Choose...</option>
          <option value="JL">Japan Airline (JL)</option>
          <option value="UA">United Airline (UA)</option>
          <option value="CI">China Airline (CI)</option>
          <option value="NX">Air Macau (NX)</option>
          <!-- 更多選項 -->
        </select>
      </div>

      <div class="form-group mb-3">
        <input
          type="text"
          name="flight_number"
          class="form-control"
          placeholder="Flight Number"
          aria-label="Flight Number"
          aria-describedby="basic-addon1"
        />
      </div>

      <button
        type="submit"
        class="btn btn-secondary"
        name="search"
        value="depart"
      >
        Search
      </button>
    </div>
  </form>
</div>

{% endblock %} {% block scripts %}
<!-- 特定頁面的 JavaScript -->
{% endblock %}
