{% extends "layout.html" %} {% block content %}

<style>
  .container-fluid-full {
    background-color: #f1f1f1;
    min-height: 100vh;
  }

  .sidebar {
    background-color: #f8f9fa;
    padding-top: 20px;
    min-height: 100vh;
    margin: 0;
    text-align: center;
  }

  .sidebar .nav-link {
    color: #414350;
    font-size: 1.2em;
    padding: 15px 10px;
    transition: all 0.2s;
  }

  /* Main Content */
  .content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  }
</style>
<div class="container-fluid-full">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-2 sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="info.html">我的資料</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="insurance.html">我的保險</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="notify.html">通知設定</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="flight.html">我的航班</a>
        </li>
      </ul>
    </div>

    <!-- Main Content -->
    <div class="col-md-10 content">
      <div class="py-4 px-md-5">
        <h1 class="mb-4">我的資料</h1>
        <div class="user-info">
          <!-- Static display state 從  Mongodb 撈出來的資料顯示 -->
          <div class="static-info mb-3">
            <p class="mb-2">
              Username:
              <span id="username-display"
                >{{ user_info_dict['username'] }}</span
              >
            </p>
            <p class="mb-2">
              Email:
              <span id="email-display">{{ user_info_dict['email'] }}</span>
            </p>
            <p class="mb-2">
              Address:
              <span id="address-display">{{ user_info_dict['address'] }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
