{% extends "layout.html" %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-2 bg-light sidebar py-5">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="info.html">我的資料</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="insurance.html">我的保險</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="notify.html">通知設定</a>
        </li>
      </ul>
    </div>
    {% endblock %}
  </div>
</div>
