img.img-airplane {
  display: block;
  opacity: 0.8;
  height: 100vh; /* 确保图片覆盖全屏 */
  width: 100%;
  object-fit: cover; /* 保持图片的比例 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* 保持在最底层 */
}
.space {
  height: 160px;
}

#emphasize {
  font-size: x-large;
  color: rgba(224, 69, 69, 0.928);
  margin: 0 10px;
}
