.flash-messages {
  position: fixed;
  top: 10px;
  right: 0;
  left: 0;
  z-index: 1050;
  display: flex;
  justify-content: center;
  align-items: center;
}

flash-messages .alert {
  background-color: #e2e3e5;
  border-color: #d6d8db;
  color: #000;
  margin: 1rem auto;
  max-width: 400px;
  border-radius: 8px;
}

.flash-messages .btn-close {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
