@media (min-width: 992px) {
  .card::after {
    content: "";
    background-image: url("/static/images/signup-image.jpg"); /* This path should be relative to the root of your web server */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    z-index: -1;
  }

  .card {
    position: relative;
    overflow: hidden;
  }
}

/* 設定警告為固定在頁面頂部 */
.alert-fixed-top {
  position: fixed;
  top: 10px; /* 距離頂部10像素 */
  left: 50%; /* 水平居中 */
  transform: translateX(-50%);
  z-index: 1050;
  width: auto;
  max-width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
